.about {
    background-image: url(../img/about-bg.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 55px;
    padding-bottom: 20px;
    text-align: center;


    @media (min-width: 481px) {
        background-image: url(../img/about-bg-md.jpg);
    }

    @media (min-width: 993px) {
        background-image: url(../img/about-bg-lg.jpg);
    }
}

.about__title {
    @include text-size (36px, 48px);
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 50px;

    @media (min-width: 481px) {
        margin-bottom: 80px;
        @include text-size (42px, 44px);
    }

    @media (min-width: 993px) {
        @include text-size (48px, 50px);
    }
}

.about__list {
    @include list-reset;
    @include flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 0;
    margin-bottom: 35px;

    @media (min-width: 481px) {
        @include flex (center, space-around);
        flex-direction: row;
        flex-wrap: wrap;
        gap: 105px 0;
        margin-bottom: 65px;
    }
    @media (min-width: 993px) {
        margin-bottom: 115px;
    }
}

.about__list--item {
    @include flex(center, space-between);
    flex-direction: column;
    gap: 30px;
    max-width: 315px;
    &:nth-of-type(2) {
        gap: 26px;
    }
    &:nth-of-type(3) {
        gap: 20px;
    }

    &:nth-of-type(4) {
        margin-top: 30px;
    }

    @media (min-width: 481px) {
        max-width: 220px;
    }

    @media (min-width: 650px) {
        max-width: 315px;
    }

    @media (min-width: 700px) {
        max-width: 325px;
    }

    @media (min-width: 993px) {
        max-width: 315px;
        &:nth-of-type(4) {
            margin-top: 0;
        }
    }

    @media (min-width: 995px) {
        max-width: 325px;
    }
}

.about__list--description {
    font-family: $secondary-color;
    font-style: italic;
    font-weight: 700;
    @include text-size (16px, 24px);
    margin-top: 0;
    margin-bottom: 0;
    color: #FFFFFF;


    @media (min-width: 481px) {
        @include text-size (12px, 20px);
    }

    @media (min-width: 650px) {
        @include text-size (16px, 24px);
    }
}

.about__description {
    font-family: $secondary-color;
    color: #A291A5;
    @include text-size (14px, 21px);
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 14px;


    &::after {
        content: "";
        border-bottom:  2px solid #645766;
        padding-bottom: 20px;
        width: 100%;
        display: block;

        @media (min-width: 481px) {
            width: 90%;
            position: relative;
            left: 5%;
        }
    }

    @media (min-width: 993px) {
        width: 80%;
        position: relative;
        left: 10%;
    }
}