.features{
    padding-top: 30px;
    padding-bottom: 430px;
    position: relative;
    @media (min-width: 481px) {
        padding-bottom: 470px;
    }
    @media (min-width: 624px) {
        padding-bottom: 550px;
    }
    @media (min-width: 993px) {
        background-color: #F4F4F4;
        padding-bottom: 70px;
        padding-top: 95px;
    }
}
.features__wrapper{
    @media (min-width: 993px) {
        flex-direction: row-reverse;
        @include flex(flex-start,space-between);
    }
}
.features__title{
    width: 230px;
    margin: 0 auto;
    color: $main-color;
    @include text-size (32px, 38px);
    font-weight: 700;
    text-align: center;
    &:before{
        content:"<";
    }
    &::after{
        content:">";
    }
    @media (min-width: 481px) {
        @include text-size (42px, 44px);
        width: 100%;
    }
    @media (min-width: 993px) {
        @include text-size (48px, 50px);
        text-align: center;
    }
}
.features__list{
    margin: 0;
    padding-top: 35px;
    padding-left: 0;
    @media (min-width: 481px) {
       padding-top: 50px;
    }
    @media (min-width: 993px) {
        width: 50%;
        padding-top: 0;
    }
}
.features__list-element{
    list-style-type: none;
    display: block;
    text-align: center;
    margin-top: 40px;
    &:first-child{
        margin-top: 0;
    }
    @media (min-width: 481px) {
        @include flex(center,center);
        gap: 25px;
        margin-top: 60px;
    }
    @media (min-width: 993px) {
        @include flex(flex-start,center);
        gap: 25px;
        margin-top: 35px;
    }
}
.features-list-element-img__wrapper{
    @media (min-width: 481px) {
        padding-left: 20px;
        width: 110px;
        @include flex(center,center);
    }
}
.features-list-element__img{
    display: inline;
    text-align: center;
}


.features-list-element__info{
    @media (min-width: 481px) {
        text-align: left;
        width: 580px;
    }
}
.features-list-element__title{
    margin-top: 25px;
    margin-bottom: 15px;
    @include text-size (16px, 16px);
    font-weight: 400;
    color: #323232;
    @media (min-width: 993px) {
        margin-top: 0;
    }

}
.features-list-element__subtitle{
    @include text-size (14px, 21px);
    color: #848E97;
    @media (min-width: 993px) {
        max-width: 390px;
    }
}
.features__img{
    position: absolute;
    object-fit: cover;
    bottom: 5px;
    right: 0;
    // @media (min-width: 993px) {
    //     bottom: 50px;
    //     right: -200px;
    // }
    // @media (min-width: 1100px) {
    //     right: -150px;
    // }
    // @media (min-width: 1200px) {
    // right: 0;
    // }
}