.body-page {
    font-family: $main-font;  
    min-width: 320px;
  }
  
  .container{
      max-width: 1200px;
      margin-right: auto;
      margin-left: auto;
      padding-left: 10px;
      padding-right: 10px;
  }
  