.header-page {
    background-color: #27262A;
    padding-top: 20px;
    padding-bottom: 30px;
    position: absolute;
    min-width: 320px;
    width: 100%;
    z-index: 3;
    @media (min-width: 481px) {
        padding-bottom: 40px;
    }

    @media (min-width: 993px) {
        background-color: transparent;
    }
}

.header-page__container {
    position: relative;
}
.header-page__navbar {
    @include flex (center, space-between);
    position: relative;
}

.header-page__logo {
    @include flex;
    position: relative;

    &:hover .logo__img--white {
        display: block;
    }

    &:hover &--text{
        color: #FFFFFF;
    }
}

.logo__img {
    display: block;
 
    &--white {
        position: absolute;
        left: 0;
        top: 0;
        display: none;
    }
}

.header-page__logo--text {
    font-family: $secondary-font;
    @include text-size (24px, 16px);
    text-transform: uppercase;
    color: $main-color;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    display: none;
    
    @media (min-width: 481px) {
        display: block;
    }
}

.button {
    font-weight: 700;
   @include text-size (15px, 15px);
    color: #FFFFFF;
    text-transform: capitalize;
    background-color: $main-color;
    padding: 10px;
    min-width: 120px;
    border: none;
    @include rounding (20px,20px,20px,20px);
    cursor: pointer;
}

.header-page__button {
    &:hover {
     @include btn-hover;
    }
}


.burger-icon{
   cursor: pointer;
    width: 26px;
    height: 21px;
	position: relative;
    right: 0;
    @media (min-width: 481px) {
        display: none;
    }
}

.burger-icon__line {
    width: 26px;
	height: 3px;
	position: absolute;
    @include rounding (20px,20px,20px,20px);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
    transition: 0.2s linear;

    &:nth-of-type(1) {
        top: calc(50% - 9px);
        width: 50%;
        left: 73%;
 
    }
    &:nth-of-type(3) {
        top: calc(50% + 9px);
    }
}

.burger-icon__line--active {

    &:nth-of-type(2) {
        display: none;
      }
      &:nth-of-type(1) {
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%) rotate(45deg);  
      }
      &:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg); 
      }
}


.header-page__menu {
    display: none;
    margin-top: 0;
    margin-bottom: 0;
    @include list-reset;
    padding-bottom: 15px;
    z-index: 3;
    @media (min-width: 481px) {
        @include flex(center, space-around);
        position: absolute;
        top: 55px;
        right: 5%;
        width: 90%;
        padding-bottom: 0;
    }

    @media (min-width: 993px) {
        top: 35%;
        right: 15%;
        width: 70%;
        justify-content: flex-end;
        gap: 45px;
    }
    
    &--active {
        @include flex (flex-start);
        flex-direction: column;
        position: absolute;
        top: 71px;
        right: 1%;
        width: 98%;
        background-color: #333333;
    }

}

.header-page__menu--item {
    width: 100%;
    border-bottom: 2px solid #3B3B3B;
    position: relative;

    @media (min-width: 481px) {
        border-bottom: none;
        width: auto;
    }
}

.header-page__menu--link {
     @include text-size (26px, 26px);
     color: #FFFFFF;
     display: block;
     padding: 25px 40px;
     
     &:hover {
        color: $main-color;
     }

     @media (min-width: 481px) {
        @include flex;
        @include text-size (12px, 16px);
        font-weight: 700;
        color: $main-color;
        padding: 0;
        &:hover {
            color: #FFFFFF;
         }
    }
    @media (min-width: 530px) {
        @include text-size (14px, 16px);
    }

    @media (min-width: 670px) {
        @include text-size (16px, 18px);
    }


}

.fiol-rectangle {
    display: none;
    position: absolute;
    width: 8px;
    height: 53px;
    background-color: $main-color;
    left: 2px;
    top: calc(50% - 26px);

    &--active {
        display: block;
    }
    @media (min-width: 481px) {
        display: none;
    }
}

