.intro {
    background-image: url(../img/intro-little.jpg);
    padding-top: 90px;
    min-height: 700px;
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;

    @media (min-width: 481px) {
        background-image: url(../img/intro-middle.jpg);
    }

    @media (min-width: 993px) {
        background-image: url(../img/intro-large.jpg);
    }
}

.intro__title {
    font-weight: 700;
    @include text-size (48px, 48px);
    color:#FFFFFF;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.intro__subtitle {
    color: $main-color;
    @include text-size (18px, 24px);
    margin-top: 0;
    margin-bottom: 14px;
}

.intro__text {
    @include text-size (14px, 14px);
    text-transform: uppercase;
    color: $secondary-color;
    margin-top: 0;
    margin-bottom: 0;
}

.intro__btn-card {
    position: absolute;
    top: 97.5%;
    right: 5%;
    width: 90%;
}

.intro__button {
    padding-left: 30px;
    padding-right: 30px;

    @media (min-width: 481px) {
        padding-left: 60px;
        padding-right: 60px;
    }
    
    border: 1px solid transparent;
    &:hover{
    @include btn-hover;
    border: 1px solid $main-color;
    }
}

.intro__btn--description {
    color: $secondary-color;
    @include text-size (14px, 14px);
    margin-top: 13px;
    margin-bottom: 0;
}