
@mixin list-reset {
    padding-left: 0;
    list-style: none;
}
@mixin flex ($vertical-location: center, $horizontal-location: center) {
    display: flex;
    align-items: $vertical-location;
    justify-content: $horizontal-location;
}

@mixin text-size ($size, $height) {
    font-size: $size;
    line-height: $height;
}
@mixin rounding($tl,$tr,$bl,$br) {
    border-top-left-radius:$tl;
    border-top-right-radius:$tr;
    border-bottom-left-radius:$bl;
    border-bottom-right-radius:$br;
}

@mixin btn-hover {
    color: $main-color;
    background-color: #FFFFFF;
}