.pricing{
    background-color: rgb(75, 59, 78);
    @media (min-width: 481px) {
        background-image: url(../img/pricing-bg-m.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    @media (min-width: 993px) {
        background-image: url(../img/about-bg-lg.jpg);
    }
    overflow: hidden;
}
.blur{
    padding-top: 55px;
    padding-bottom: 20px;
    height: 100%;
    width: 100%;
    @media (min-width: 768px) {
        padding-bottom: 95px;
        padding-top: 80px;
    }
    @media (min-width: 993px){
        backdrop-filter: blur(40px);
        padding-top: 110px;
    }
}

.pricing__title{
    font-weight: 700;
    @include text-size (28px, 42px);
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
    @media (min-width: 481px) {
        @include text-size (42px, 44px);
    }
    @media (min-width: 993px) {
        @include text-size (48px, 50px);
    }
}
.pricing__list{
    padding-left: 0;
    margin-top: 30px;
    margin-bottom: 0;
    @media (min-width: 481px) {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 13px 8px;
    }
    @media (min-width: 768px) {
        gap: 30px 25px;
    }
    @media (min-width: 993px) {
        margin-top: 60px;
        @include flex (center, space-between);
        gap: 15px;
    }
}


.pricing__list-element{
    margin-top: 20px;
    &:first-child{
        margin-top: 0;
    }
    width: 260px;
    margin-right: auto;
    margin-left: auto;
    list-style-type: none;
    @media (min-width: 481px) {
        margin-top: 0;
        width: 205px;
        height: auto;
    }
    @media (min-width: 625px) {
        width: 250px;
    }
    @media (min-width: 768px) {
        width: 260px;
    }
    @media (min-width: 993px) {
        width: 230px;
    }
    @media (min-width: 1100px) {
        width: 260px;
    }
}
.pricing__list-element--first{
    @media (min-width: 481px) {
        margin: 0;
        justify-self: end;
    }
}
.pricing__list-element--second{
    @media (min-width: 481px) {
        margin: 0;
        justify-self: start;
    }
}
.pricing__list-element--third{
    height: 560px;
    width: 300px;
    @media (min-width: 481px) {
        width: 230px;
        height: auto;
        margin: 0;
        justify-self: end;
    }
    @media (min-width: 625px) {
        width: 280px;
    }
    @media (min-width: 768px) {
        width: 300px;
    }
    @media (min-width: 993px) {
        width: 270px;
    }
    @media (min-width: 1100px) {
        width: 300px;
    }
}
.pricing__list-element--fourth{
    @media (min-width: 481px) {
        margin: 0;
        justify-self: start;
        align-self: center;
    } 
}



.pricing__element-title{
    @include text-size (24px, 24px);
    background-color: rgba(255, 255, 255, 0.11);
    text-transform: uppercase;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    height: 95px;
    @include flex;
    margin-top: 0;
    margin-bottom: 0;
    @media (min-width: 481px) {
        @include text-size (19px, 19px);
        height: 80px;
    }
    @media (min-width: 625px) {
        @include text-size (24px, 24px);
        height: 95px;
    }
}
.pricing__element-title--accent{
    background-color: rgb(64, 45, 66);
    @media (min-width: 481px) {
        @include text-size (19px, 19px);
        height: 80px;
    }
    @media (min-width: 625px) {
        @include text-size (24px, 24px);
        height: 95px;
    }
}


.pricing__element-info-wrapper{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.06);
    padding-top: 30px;
    padding-bottom: 35px;
    position: relative;
    box-sizing: border-box;
}
.pricing__element-info-wrapper--accent{
    background-color: rgba(70, 48, 72, 1);
    padding-top: 15px;
    padding-bottom: 47px;
}


.pricing__element-price{
    margin-top: 0;
    @include text-size (60px, 62px);
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 20px;
    @media (min-width: 481px) {
        @include text-size (50px, 70px);
    }
    @media (min-width: 625px) {
        @include text-size (60px, 90px);
        height: 95px;
    }
}
.pricing__acent-price{
    font-weight: 400;
}
.pricing__element-price--accent{
    @include text-size (82px, 84px);
    margin-bottom: 15px;
    height: 111px;
    @media (min-width: 481px) {
        @include text-size (72px, 75px);
    }
    @media (min-width: 625px) {
        @include text-size (82px, 84px);
        height: 95px;
    }
}


.pricing__element-period{
    margin-top: 0;
    margin-bottom: 73px;
    color: #FFFFFF;
    @include text-size (14px, 16px);
    text-transform: uppercase;
    &::after{
        content:"";
        width: 60px;
        height: 5px;
        background-color: $main-color;
        position: absolute;
        top: 163px;
        left: 99px;
        @media (min-width: 481px) {
            left: 75px;
        }
        @media (min-width: 625px) {
            top: 195px;
            left: 99px;
        }
        @media (min-width: 993px) {
            left: 80px;
        }
        @media (min-width: 1100px) {
            left: 100px;
        }
    }
}
.pricing__element-period--accent{
    margin-bottom: 90px;
    &::after{
        top: 175px;
        left: 120px;
        @media (min-width: 481px) {
            left: 85px;
        }
        @media (min-width: 625px) {
            top: 185px;
            left: 110px;
        }
        @media (min-width: 768px) {
            left: 115px;
        }
        @media (min-width: 993px) {
            left: 105px;
        }
        @media (min-width: 1100px) {
            left: 120px;
        }
    }
}


.pricing__element-description{
    @include text-size (16px, 18px);
    color: #FFFFFF;
    margin-bottom: 40px;
    margin-top: 0;
}
.pricing__element-description--first{
    margin-bottom: 68px;
}
.description-tranfer{
    padding-top: 10px;
    display: block;
}
.pricing__element-description--accent{
    margin-bottom: 83px;
}



.pricing__element-btn{
    display: block;
    margin: 0 auto;
    font-weight: 400;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.15);
    width: 163px;
    padding: 15px 37px;
    @include rounding (40px,40px,40px,40px);
}
.pricing__element-btn--accent{
    padding: 18px 48px;
    width: 190px;
}