.statistics{
    padding-top: 130px;
    padding-bottom: 90px;
    @media (min-width: 481px) {
        padding-bottom: 100px;
    }
    @media (min-width: 993px) {
        padding-bottom: 70px;
    }
}
.statistics__title{
    font-weight: 700;
    @include text-size (26px, 28px);
    color:#635C73;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 27px;
    @media (min-width: 481px) {
        @include text-size (42px, 42px); 
    }
    @media (min-width: 993px) {
        margin-bottom: 35px;
    }
}
.statistics__subtitle{
    width: 276px;
    margin: 0 auto;
    font-family: $secondary-font;
    @include text-size (14px, 20px);
    color:#323232;
    text-align: center;
    @media (min-width: 481px) {
        @include text-size (21px, 32px); 
        width: 90%;
    }
    @media (min-width: 993px) {
        width: 861px;
    }
}
.statistics__buttons-list{
    padding-left: 0;
    margin-top: 35px;
    @include flex;
    flex-wrap: wrap;
    gap: 20px 10px;
}
.buttons-list__item{
    list-style-type: none;
    @include flex;
    width: 110px;
}
.statistic__btn{
    font-weight: 700;
    height: 25px;
    @include flex;
    gap: 3px;
    @include text-size (10px, 10px);
    @include rounding(2px,0,2px,0);
    border: 1px solid #bfbfc3;
    cursor: pointer;
    background: linear-gradient(white, #e5e5e9);
}
.statictic__link-count{
    @include rounding(0,2px,0,2px);
    border-top: 1px solid #bfbfc3;
    border-right: 1px solid #bfbfc3;
    border-bottom: 1px solid #bfbfc3;
    border-left: none;
    height: 25px;
    @include flex;
    @include text-size (10px, 10px);
    font-weight: 700;
    color: black;
    padding-right: 7px;
    padding-left: 7px;
}